
.tittle-pix {
  padding: 48px 0 0 232px;

  font-size: 28px;
  font-weight: 700;
  color: #484848;
}

.container-pix-text {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 21px;
  font-weight: 300;
  color: #484848;
  padding: 48px 0 15px 232px;
}

.content {
  display: flex;
  flex-direction: column;

}

.container-img-pix{
  width: 100%;
  display: flex;
  justify-content: center;
}

.pix {
  width: 60%;
 
}



.background-together {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../public/footer-background.png");
}

.background-together img {
  height: 100%;
}
